/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/database
/app/Providers
/app/User.php
/app/Beer.php
/app/Event.php
/app/Rate.php
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
Beer.php
Event.php
Rate.php
User.php
