/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/database
/app/Providers
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
Beer.php
Event.php
Rate.php
User.php
