/* 0 padding på kolumner */
.column {
    padding: 0;
}

/*Yasmine header*/
.menu {
    background-color: #0d4e4a;
    height: 100vh;
    padding-top: 10%;
}

.menu-list a {
    color: white;
}

/*Yasmine Logga in */
.loginForm {
    background-color: #0d4e4a;
    padding: 8%;
}

form .input {
    margin: 1%;
    width: 80%;
}

.loginText {
    padding: 8%;
    background-color: #F8D205;
}

/* Annika
    öl-sidan */
.beerColumn {
    max-width: 30%;
}

.beerColumn>img {
    width: 100%;
}

.beer {
    margin-left: 7em;
}

.img__wrap {
    position: relative;
    height: auto;
    width: 257px;
}

.img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(248, 210, 5, 0.6);
    color: black;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
}

.img__description {
    transition: .2s;
    transform: translateY(1em);
}

.img__wrap:hover .img__description {
    transform: translateY(0);
}