/* övrigt */
.column {
    padding: 0;
}

body {
    background-color: #0d4e4a;
}

.title {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 100;
}

.logo {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 260%;
    padding-top: 20%;
    text-align: center;
    text-decoration: underline;
    color: white;
}

.logo a {
    color: white;
}

/*Yasmine header*/
.menu {
    background-color: #0d4e4a;
    height: 100vh;
    padding: 10%;
}

.menu-list a {
    color: white;
    text-transform: uppercase;
}

.menu-list {
    padding-top: 120%;
}

/*Yasmine Logga in */
.loginForm {
    background-color: #F8D205;
    padding: 8%;
}

.loginText .title, .loginText p {
    color: white;
}

form .input, .textarea {
    margin: 1%;
}

.loginText {
    padding: 8%;
    background-color: # 0d4e4a;
}

/*Yasmine registrera */
.regForm {
    background-color: #F8D205;
    padding: 8%;
}

.regform .input {
    width: 50%;
}

/* Yasmine, kontakt */
.contactForm {
    background-color: #0d4e4a;
    padding: 8%;
}

.contactUsText {
    padding: 8%;
    background-color: #F8D205;
}

.contactForm {
    width: 50%;
}

.contactForm .title {
    color: white;
}

.map {
    background-color: #dfbd04;
    padding: 8%;
}

/* Yasmine event, öl */
.event, .editEvent, .createEvent {
    background-color: #dfbd04;
    padding: 8%;
}

.editBeer {
    background-color: #dfbd04;
    padding: 8%;
}

/*Yasmine welcome*/
.welcomeTitle {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 260%;
    text-align: center;
    text-decoration: underline;
    color: white;
}

.welcomeText {
    padding-bottom: 50px;
}

.welcomeText p {
    font-family: courier;
    font-size: 1.2rem;
    padding: 0px 25px 25px 25px;
}

.welcome {
    background-color: #dfbd04;
    padding-top: 10%;
    color: white;
}

.welcome2 {
    background-color: #0d4e4a;
    padding-top: 10%;
    color: white;
}

.welcome3 {
    background-color: #0d4e4a;
    color: white;
}

.img__wrapw {
    position: relative;
    height: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.5em;
}

.img__description_layerw {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    transition: opacity .2s, visibility .2s;
}

.img__wrapw:hover .img__description_layerw {
    visibility: visible;
    opacity: 1;
}

.img__descriptionw {
    transition: .2s;
    transform: translateY(1em);
}

.img__wrapw:hover .img__descriptionw {
    transform: translateY(0);
}

/* Annika
    öl-sidan */
.beerColumn {
    max-width: 30%;
}

.beerColumn>img {
    width: 100%;
}

.beerColumn img {
    height: 50%;
}

.beer {
    margin-left: 7em;
}

.img__wrap {
    position: relative;
    height: auto;
    width: 257px;
}

.img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(248, 210, 5, 0.6);
    color: black;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
}

.img__description {
    transition: .2s;
    transform: translateY(1em);
}

.img__wrap:hover .img__description {
    transform: translateY(0);
}